- cancel_action = capture do
  = link_to 'Abbrechen', @question.container, class: 'button'


%h1 Neue Frage
%p
  Hier kannst du eine neue Frage für die Finanzierung
  %strong= @question.container.title
  erstellen.

= render 'form', cancel_action: cancel_action
