= form_for [ participation.entity, participation ] do |f|
  - if participation.errors.any?
    #error_explanation
      %h2= "#{pluralize(participation.errors.count, "error")} prohibited this participation from being saved:"
      %ul
        - participation.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :participant_email
    = f.email_field :participant_email
  
  .actions
    = f.submit 'hinzufügen'
  

