%p#notice= notice

%p
  %b Sender:
  = @message.sender
%p
  %b Receiver:
  = @message.receiver
%p
  %b Content:
  = @message.content
%p
  %b Read at:
  = @message.read_at

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
