%h1 Sorry...
%p
  Mitgliedschaften sind bei uns
  %strong im Augenblick nicht möglich.

%p
  Du kannst aber gerne unseren
  = link_to 'Newsletter abonnieren', new_contact_path
  und bekommst dann Bescheid, wenn wir Mitgliedschaften anbieten.

