%figure.contentpart.img{ id: contentpart.iid }
  = render 'general/picture_article', entity: contentpart
  
  - unless contentpart.content.blank?
    %figcaption.caption= h_format contentpart.content
  

