.contentpart.file{ id: contentpart.iid }
  = link_to contentpart.picture do
    = image_tag 'icon/pdf_icon.png', class: 'pdf_icon'
    - unless contentpart.content.blank?
      .file_info
        .name= contentpart.file_name
        .info= number_to_human_size contentpart.file_size
        .description= h_format contentpart.content
      
    
  

