%h1 Listing contentparts

%table
  %thead
    %tr
      %th Token
      %th Status
      %th Kind
      %th Position
      %th Container
      %th Content
      %th
      %th
      %th

  %tbody
    - @contentparts.each do |contentpart|
      %tr
        %td= contentpart.token
        %td= contentpart.status
        %td= contentpart.kind
        %td= contentpart.position
        %td= contentpart.container
        %td= contentpart.content
        %td= link_to 'Show', contentpart
        %td= link_to 'Edit', edit_contentpart_path(contentpart)
        %td= link_to 'Destroy', contentpart, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Contentpart', new_contentpart_path
