- cancel_button = nil unless defined? cancel_button
- initially_hidden = false unless defined? initially_hidden

= form_for [ :admin, @account ], class: initially_hidden ? 'initially_hidden' : nil do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.account.one" ), count: @account.errors.count )
      %ul
        - @account.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.account.#{message.first}" )
        
      
    
  
  .field
    = f.label :status
    = f.select :status, Account.t_status_select
  
  %fieldset
    %legend Login
    .field
      = f.label :login
      = f.text_field :login, placeholder: 'z.B. lisa.muster@organisator.org'
    
  
  %fieldset
    %legend Bild
    .field.picture
      = f.label :picture
      = f.file_field :picture
    
  
  %fieldset
    %legend Profilinfos
    .field
      = f.label :displayname
      = f.text_field :displayname
    
    .field
      = f.label :label
      = f.text_field :label
    
    .field
      = f.label :description
      = f.text_area :description, rows: 5
    
  
  .actions
    = cancel_action
    = f.submit class: 'button main'
  

