= link_to decision, class: 'preview decision_prview', id: decision.token do
  
  - if !decision.published?
    .date in Vorbereitung...
    
  - elsif decision.proposing?
    .date
      .status_badge.proposing Vorschläge
      bis
      =l decision.end_proposals_at, format: :very_short_day_time
    
  - elsif decision.voting?
    .date
      .status_badge.voting{ class: decision.voted_by?( current_account ) ? 'done' : nil } Abstimmen
      bis
      =l decision.end_voting_at, format: :very_short_day_time
    
  - else
    .date
      .status_badge.done Abgestimmt
      am
      =l decision.end_voting_at, format: :very_short_day_time
    
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .title= decision.title
  .description= h_format_preview decision.description, 240
  
  = render 'infos', decision: decision

