- cancel_action = capture do
  = link_to 'Abbrechen', decisions_path, class: 'button'


%h1 Entscheidung bearbeiten
- case
- when !@decision.published?
  %p
    Solange die Entscheidung noch nicht bereit ist, kannst du beliebig ändern.
  
- when @decision.proposing?
  %p
    Solange die Vorschlagsphase läuft, kannst du die Texte noch verbessern oder die Vorschlagsphase verlängern.
  

= render 'form', cancel_action: cancel_action
