- no_link = false unless defined? no_link and no_link == true

.author
  von
  - unless article.author
    unbekannt
    
  - else
    - if !no_link and h_page_accessible? 'accounts'
      = link_to article.author.displayname_text, article.author
      
    - else
      = article.author.displayname_text
    
  

