= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.article.one" ), count: @article.errors.count )
      %ul
        - @article.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.article.#{message.first}" )
        
      
    
  
  - if @article.parent
    = f.hidden_field :parent_type
    = f.hidden_field :parent_id
  
  .field
    = f.label :title
    = f.text_field :title, placeholder: 'z.B. Wie wir im Klimaschutz vorangehen'
  
  .field
    = f.label :published_at
    = f.datetime_select :published_at
  
  .field
    = f.label :description, 'Anreisser (max. 250 Zeichen)'
    .help Hier eine knackige kurze Zusammenfassung, die den Leser:innen Lust auf das Lesen machen soll.
    = f.text_area :description, rows: 5, placeholder: 'z.B. das wichtigste in max. 250 Zeichen'
  
  .actions
    = cancel_action
    = f.submit
  

