= link_to article, class: 'preview article_preview', id: article.token do
  - unless article.published?
    .status= article.status
  
  - if article.has_picture?
    = render 'general/picture_preview', entity: article.picture_contentpart
  
  .info_block
    .title= article.title
    .date=l article.published_at, format: :short_day
    = render 'author', article: article, no_link: true
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .description
    = h_format_preview article.description, 250
  

