- unless articles.blank?
  .multiteaser.articles_teaser
    %h2
      Aktuelle Artikel
      %span.link= link_to 'weitere'.html_safe, articles_path
    
    .multiteaser_scroller.articles_scroller
      .multiteaser_scroller_content.articles_scroller_content
        - articles.each do |article|
          = link_to article, class: 'preview article_preview', id: article.token do
            - if article.has_picture?
              = render 'general/picture_preview', entity: article.picture_contentpart
            
            - unless article.published?
              .status= article.status
            
            .title= article.title
            .date=l article.published_at, format: :short_day
            .next_arrow
              = image_tag 'sym/angle_right_s25.svg'
            
            .description= article.description
          
        
      
    
  

