%h1 Newsletter

- if h_is_editor?
  %p
    = link_to 'Neuer Newsletter...', new_newsletter_path
  

%ul.newsletters_list
  - @newsletters.each do |newsletter|
    %li
      = link_to newsletter, class: 'preview' do
        - if h_is_team?
          .status= newsletter.status
        
        .next_arrow
          = image_tag 'sym/angle_right_s25.svg'
        
        .date
          =l newsletter.send_at, format: :short_day
        
        .content
          = h_format_preview newsletter.content, 250
        
      
    
  

