%li.reward.collapsed
  - if reward.has_picture?
    = render 'general/picture_article', entity: reward
  
  .reward_infos
    .title= reward.title
    
    .amount= number_to_currency reward.price
    
    - if h_reward_editable?( reward )
      .action_buttons
        = link_to image_tag( 'sym/pencil_w100.svg' ), edit_reward_path( reward ), class: 'sym_button'
        = link_to image_tag( 'sym/bin_w100.svg' ), reward, method: :delete, class: 'sym_button danger', data: { confirm: "Willst du wirklich das Produkt '#{reward.title} löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }
      
    
    .description= h_format reward.description
    
    .ordered
      - if reward.ordered > 0
        = reward.ordered
      - else
        noch keins
      
      bestellt
      - unless reward.available.blank?
        &mdash;
        = reward.available - reward.ordered
        verfügbar
        
      
    
    = render 'rewards/delivery_infos', reward: reward
  

