- cancel_target = @reward.funding ? @reward.funding : rewards_path
- cancel_action = capture do
  = link_to 'Abbrechen', cancel_target, class: 'button secondary'

%h1 Produkt ändern

= render 'form', cancel_action: cancel_action
