- cancel_target = @reward.funding ? @reward.funding : rewards_path
- cancel_action = capture do
  = link_to 'Abbrechen', cancel_target, class: 'button'


%h1 Neues Produkt
%p
  Hier kannst du ein neues Produkt
  - if @reward.funding
    für die Finanzierung
    %strong= @reward.funding.title
  erstellen.

= render 'form', cancel_action: cancel_action
