%h1 Listing arguments

%table
  %thead
    %tr
      %th Token
      %th Status
      %th Account
      %th Proposal
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @arguments.each do |argument|
      %tr
        %td= argument.token
        %td= argument.status
        %td= argument.account
        %td= argument.proposal
        %td= argument.title
        %td= argument.description
        %td= link_to 'Show', argument
        %td= link_to 'Edit', edit_argument_path(argument)
        %td= link_to 'Destroy', argument, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Argument', new_argument_path
