.reward.collapsed
  - if reward.has_picture?
    = render 'general/picture_article', entity: reward
  
  .reward_infos
    .title= reward.title
    
    .action_buttons
      - if h_reward_editable?( reward )
        = link_to image_tag( 'sym/pencil_w100.svg' ), edit_reward_path( reward ), class: 'sym_button'
        = link_to image_tag( 'sym/bin_w100.svg' ), reward, method: :delete, class: 'sym_button danger', data: { confirm: "Wollen Sie das Produkt'#{reward.title}}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden."}
      
    
    .description= h_format reward.description
    
    .amount= number_to_currency reward.price
    
    = render 'rewards/availability_infos', reward: reward
    = render 'rewards/delivery_infos', reward: reward
  

