- # --------------------------------------------

= f.fields_for :orderquants, orderquants do |oq_f|
  %li.orderquant
    = render 'orderquants/preview_product', reward: oq_f.object.reward
    
    .fields.end_aligned
      = oq_f.hidden_field :id
      = oq_f.hidden_field :reward_id
      = oq_f.label :quantity, class: 'same_row'
      = oq_f.number_field :quantity, min: 0
    
  

