%h1 Chats
%p Liste aller Chats an denen du teilnehmen kannst.

%p= link_to 'Neuer Chat', new_stream_path, class: 'button'

- unless @my_streams.blank?
  %h3 Deine Chats
  
  = render 'list', streams: @my_streams

- unless @public_streams.blank?
  %h3 Öffentliche Chats
  
  = render 'list', streams: @public_streams

