- cancel_action = capture do
  = link_to 'Abbrechen', streams_path, class: 'button'


%h1 Neuer Chat
%p
  Hier kannst du einen neuen Chat starten.

%h3 Mit wem möchtest du chatten?

= render 'form_participant', cancel_action: cancel_action
