Hallo <%= @contact.name_text %>,

der neue Beitragszeitraum <%=l Time.zone.now, format: :month_year %> beginnt und wir möchten dich bitten, deinen Mitgliedsbeitrag zu überweisen.

Du hast dich bei der Aufnahme für einen <%=  ( t( "activerecord.attributes.membership/fee_period.#{@membership.fee_period}" ) + 'en' ).upcase %> Beitrag von <%= number_to_currency @membership.fee_amount %> entschieden. Bitte überweise diese Summe auf unser Konto:

Kontoinhaber:
<%= h_orga_name %>
IBAN:
DE00 0000 0000 0000 0000 00
Verwendungszweck:
Referenz <%= @membership.token %> Mitgliedsbeitrag

<%= render 'general/mailer_regards' %>
