- unless events.blank?
  .events_teaser
    %h2
      Nächste Termine
      %span.link= link_to 'weitere'.html_safe, events_path
    
    .entry_block
      - events.each do |event|
        = link_to event, class: 'event_entry' do
          .time=l event.starts_at, format: :short
          .title= event.title
        
      
    
  

