BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//<%= h_orga_file_name %>/events_index//NONSGML v1.0//EN
UID:events-at-<%= h_orga_domain %>
NAME:<%= h_orga_name %> Termine
<% @events.each do |event| -%>
URL:<%= events_url %>

BEGIN:VEVENT
UID:<%= event.token %>-at-<%= h_orga_domain %>
DTSTAMP:<%=l event.updated_at.in_time_zone( 'Zulu' ), format: :ical %>
DTSTART:<%=l event.starts_at.in_time_zone( 'Zulu' ), format: :ical %>
DTEND:<%=l event.ends_at.in_time_zone( 'Zulu' ), format: :ical %>
SUMMARY:<%= raw event.title %>
DESCRIPTION:<%= raw event.description_ical_text %>
LOCATION:<%= event.location %>
END:VEVENT
<% end -%>

END:VCALENDAR