- cancel_action = capture do
  = link_to 'Abbrechen', @answer.question, class: 'button'

%h1 Neue Antwort
%p
  Hier kannst du eine neue Antwort für die Frage
  %strong= @answer.question.content
  erstellen.

= render 'form', cancel_action: cancel_action
