- cancel_action = nil unless defined? cancel_action

%h4 Unsere Artikel

= form_for @order, html: { class: 'order_form without_border' } do |f|
  - if @order.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.order.one" ), count: @order.errors.count )
      %ul
        - @order.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.order.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  %ul.rewards_list
    - @order.categories.each do |category|
      - if category[ :name ] and category[ :name ].length > 0
        - cid = category[ :name ].parameterize
        %li.category
          .category_header.will_toggle{ id: cid, data: { action: 'toggle', sel: "#catlist_#{cid}" } }
            .title= category[ :name ]
            .count= "(#{category[ :orderquants ].size} Artikel)"
            
            .end_aligned= render 'general/toggle_icon'
          
          %ul.rewards_list.will_be_toggled{ id: "catlist_#{cid}" }
            = render 'orderquants/subform_orders', f: f, orderquants: category[ :orderquants ]
          
        
      - else
        = render 'orderquants/subform_orders', f: f, orderquants: category[ :orderquants ]
      
        
      
      
    
  
  .actions
    = cancel_action
    = f.submit 'Auswählen'
  

