- cancel_action = nil unless defined? cancel_action

= render 'orderquant_summary', order: @order

%h3 Wohin geht die Bestellung?

%p Abhängig von diesen Optionen können sich die Versandkosten und die Mehrwertsteuer ändern.

= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.order.one" ), count: @order.errors.count )
      %ul
        - @order.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.order.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  .field
    = f.label :customer_kind
    = f.select :customer_kind, Order.t_select( 'customer_kind' )
  
  .field
    = f.label :customer_location
    = f.select :customer_location, Order.t_select( 'customer_location' )
  
  .actions
    = link_to 'Zurück', order_path( @order, order: { step: @order.step - 2 } ), method: :patch, class: 'button secondary'
    = f.submit 'Weiter'
  

