%p
  Folgende Artikel wurden ausgewählt:

%ul.orderquants_list
  - order.orderquants.each do |orderquant|
    = render 'orderquants/preview', orderquant: orderquant
  

%p.orderquants_sum
  %span.quant= order.product_count
  Artikel
  %span.end_aligned
    Summe
    %span.quant= number_to_currency order.product_sum
  

