= link_to order, class: 'preview order_preview', id: order.token do
  .status{ class: order.status }= order.status
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .token= order.token
  .title= order.delivery_destination_text
  .date
    = order.product_count
    Artikel
    &nbsp;&nbsp;&nbsp;
    = number_to_currency order.product_sum
  

