.progress_steps
  .label
    Schritt
    = step
    von
    = max_steps
  
  - max_steps.times do |index|
    %span.step{ class: ( index + 1 ) < step ? 'done' : ( ( index + 1 ) == step ? 'active' : nil ) }  &nbsp;
    
  

