%p
  Bestellt von
  %br
  - if order.contact
    - if h_is_admin?
      = link_to order.contact.name_text, order.contact
    
    - else
      %strong= order.contact.name_text
    
    %br
    = order.contact.email
    %br
    = order.contact.phone_nr
    
  - else
    %em unbekannt
  

%h3 Artikel
= render 'orders/orderquant_summary', order: order

%h3 Bestellart

%p
  = Order.human_attribute_name 'customer_kind'
  = '-'
  %strong= Order.human_attribute_name "customer_kind.#{order.customer_kind}"
  %br
  = Order.human_attribute_name 'customer_location'
  = '-'
  %strong= Order.human_attribute_name "customer_location.#{order.customer_location}"

%h3= "Liefer#{order.invoice_differs? ? '' : '- und Rechnungs'}adresse"
= render 'orders/delivery_address', order: order

- if order.invoice_differs?
  %h3 Rechnungsadresse
  = render 'orders/invoice_address', order: order

