- h_title 'Bestellungen'
- h_description( h_page_description_for 'orders' )

- date_separators = true #unless defined? date_separators

%h1 Bestellungen

%ul.orders_list
  - the_date = nil
  - @orders.each do |order|
    - if the_date != order.created_at.at_midnight and date_separators
      - the_date = order.created_at.at_midnight
      %li.separator
        =l the_date, format: :short_day
      
    
    %li= render 'preview', order: order
  

