- cancel_action = capture do
  = link_to 'Abbrechen', pages_path, class: 'button'


%h1 Neue Seite
%p Hier kannst du neue generelle Seiten für die ganze Website erstellen.

= render 'form', cancel_action: cancel_action
