- h_page_title 'Kein Zugriff auf diese Seite'
- h_description 'Um diese Seite zu sehen, fehlen dir die entsprechenden Zugriffsrechte'

%article.info_page
  %h1.title Kein Zugriff auf diese Seite
  
  - if current_account
    %p
      Um diese Seite zu sehen, fehlen dir die entsprechenden Zugriffsrechte.
    
    %p
      Schreibe an
      = mail_to "kontakt@#{h_orga_domain}"
      um Zugriff zu erhalten.
    
  - else
    %p
      Um diese Seite zu sehen, musst du eingeloggt sein.
    
    %p
      Melde
      = link_to 'dich hier an', login_path
      oder
      = link_to 'registriere dich hier neu', check_accounts_path
      um Zugang zu dieser Seite zu erhalten.
    
  

