%h1= h_orga_name
%p= h_orga_slogan

= render 'articles/teaser', articles: Article.published.latest( 3 )

= render 'events/teaser', events: Event.upcoming( 3 )

%p
  Mach mit, abonniere unseren Newsletter oder folge uns auf Social Media

.action_buttons
  = link_to 'Abonnieren', new_contact_path, class: 'button'
  
  = render 'general/social_media_buttons'

