- h_page_title @page.title
- h_description truncate( strip_tags( @page.description ), length: 250 )
- if @page.has_picture?
  - h_image url_for( @page.picture.picture_twitter )


%article.page_detail
  - unless @page.published?
    .status= @page.status
  
  %h1.title= @page.title.blank? ? '<em>Kein Titel</em>'.html_safe : @page.title
  
  - if h_page_editable?
    .action_buttons.internal
      = link_to image_tag( 'sym/pencil_w100.svg' ),
            edit_page_path( @page ),
            class: 'sym_button', title: 'Seite ändern'
      = link_to image_tag( 'sym/bin_w100.svg' ),
            @page, method: :delete,
            class: 'sym_button danger', title: 'Seite löschen'
      .help_text.end_aligned
        = current_account.status.capitalize
        Funktionen
      
    
  
  = render 'contentparts/content_block', container: @page, is_editable: h_page_editable?

