%fieldset
  %legend Einwilligung
  
  .field
    = f.check_box :read_privacy
    = f.label :read_privacy do
      Ich habe die
      = link_to 'Hinweise zum Datenschutz', datenschutz_path
      gelesen
  
  .field
    = f.check_box :wants_news
    = f.label :wants_news, "Ich möchte den Newsletter abonnieren und weiter über #{h_orga_name} informiert werden"
  

