.field
  = f.label :first_name
  = f.text_field :first_name, placeholder: 'z.B. Lisa'

.field
  = f.label :last_name
  = f.text_field :last_name, placeholder: 'z.B. Muster'

.field
  = f.label :plz
  = f.text_field :plz, placeholder: 'z.B. 12345'
  = render 'general/plz_help'

