- cancel_action = nil unless defined? cancel_action

= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.contact.one" ), count: @contact.errors.count )
      %ul
        - @contact.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.contact.#{message.first}" )
        
      
    
  
  - if @contact.new_record?
    = render 'field_email', f: f
  
  = render 'fields_name_plz', f: f
  
  = render 'fields_news_help_privacy', f: f, contact: @contact
  
  = render 'fields_mail', f: f
  
  = render 'general/checker_question', f: f
  
  .actions
    = cancel_action
    = f.submit 'Sichern'
  

