- all_info = false unless defined? all_info
- date_separators = false unless defined? date_separators
- with_message = false unless defined? with_message

- unless contacts.blank?
  %ul.contacts_list
    - the_date = nil
    - contacts.each do |contact|
      - if the_date != contact.created_at.at_midnight and date_separators
        - the_date = contact.created_at.at_midnight
        %li.separator
          =l the_date, format: :short_day
        
      
      %li= render 'contacts/preview', contact: contact, all_info: all_info, with_message: with_message
    
  

