- #h_titlebar_text 'Abmelden'

- unless alert.blank?
  .callout.warning
    %p= alert
  

- unless notice.blank?
  .callout.success
    %p= notice
  

%h3 Kein Newsletter mehr?
%p
  Ooooh, schade!
  %br
  Warum denn nur? Wir sind wirklich traurig, dass sie gehen wollen.

= button_to 'Newsabo löschen', @contact, method: :patch, class: 'button', data: { confirm: 'Sind sie sicher?' }, params: { contact: { wants_news: false } }
