- initially_hidden = false unless defined? initially_hidden
- cancel_action = nil unless defined? cancel_action

= form_for [ @donation.funding, @donation ] do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.donation.one" ), count: @donation.errors.count )
      %ul
        - @donation.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.donation.#{message.first}" )
        
      
    
  
  - if @donation.reward
    .reward_summary
      .label Du hast ausgewählt:
      .reward_line
        .end_aligned
          = number_to_currency @donation.reward.price
        
        %strong= @donation.reward.title
      
      %p Möchtest du zusätzlich noch einen Betrag frei spenden?
    
  - else
    %p Deine freie Spende soll sein:
  
  
  = f.hidden_field :reward_id
  
  .field
    = f.label :amount
    = f.number_field :amount, step: 0.01, placeholder: 'z.B. 11,50'
  
  = render 'contacts/subform_donation', form: f, contact: @donation.contact
  
  .actions
    = cancel_action
    = f.submit
  

