.preview{ id: donation.iid }
  .status{ class: donation.status.parameterize }= donation.status
  
  .title
    .end_aligned
      = number_to_currency donation.sum
    
    = donation.token
  
  .date
    von
    = donation.contact.name_text
  
  .description
    - unless donation.reward.blank?
      = donation.reward.title
    - else
      %em freie Spende
    
  
  - unless donation.closed?
    .action_buttons
      = button_to donation.next_status, advance_donation_path( donation ), method: :put
    
  

