- cancel_action = capture do
  = link_to 'Abbrechen', @donation.funding, class: 'button'


%h1 Deine Spende
%p
  Hier kannst du für
  %strong= @donation.funding.title
  spenden und dir dein Dankeschön sichern.

= render 'form', cancel_action: cancel_action

