- pref = @pref unless defined? pref
- cancel_action = link_to( 'Abbrechen', prefs_path, class: 'button secondary' ) unless defined? cancel_action

= form_for pref, html: { class: 'without_border' }do |f|
  - if pref.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.pref.one" ), count: pref.errors.count )
      %ul
        - pref.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.pref.#{message.first}" )
        
      
    
  
  .field
    = f.label :value
    = f.text_field :value, placeholder: 'z.B. Vortrag Klimakrise', maxlength: 250
  
  .actions
    = cancel_action
    = f.submit 'Sichern'
  

