%h1 Einstellungen

%p
  Die Einstellungen hier stehen auf der Stufe
  %strong= current_account.status.capitalize

%ul.prefs_list
  - @prefs.each do |pref|
    %li= render "preview_#{pref.klass.downcase}", pref: pref
  

