Hallo <%= @contact.name_text %>,

Vielen Dank für Ihre Bestellanfrage.

Um Ihre Anfrage zu bestätigen, klicken Sie bitte folgenden Link oder kopieren ihn in die Adresszeile ihres Browsers:
<%= @confirmation_link %>

<%= render 'general/mailer_regards' %>
