Hallo <%= @receiver %>,

Es ist mindestens eine neue Bestellung auf dem Portal von <%= h_orga_name %> vorhanden.

Hier geht es direkt zum Login:
<%= @login_link %>

<%= render 'general/mailer_regards' %>
