= form_for @proposal do |f|
  - if @proposal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@proposal.errors.count, "error")} prohibited this proposal from being saved:"
      %ul
        - @proposal.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :title
    .help
      Beschreibe deinen Vorschlag kurz, den du als Lösung der Frage einbringen möchtest.
      %br
      (max. 250 Zeichen)
    
    = f.text_area :title, rows: 3, maxlength: 250
  
  .field
    = f.label :description
    = f.text_area :description, rows: 5, placeholder: 'z.B. Details, die den Vorschlag erklären...'
  
  .actions
    .start_side= delete_action
    = cancel_action
    = f.submit 'Speichern'
  

