- proposals = [] unless defined? proposals

- # --------------------------------------------

#proposals_list
  %header.list_title
    = proposals.count
    Vorschläge
  
  %ul.proposals_list
    - proposals.each do |proposal|
      - logger.debug "== next proposal in list -- proposal:#{proposal.token}"
      = render 'proposals/preview', proposal: proposal
    
  

