proposal_li = $("#<%= @proposal.iid %>");
was_open = proposal_li.hasClass( 'open' );
proposal_li.replaceWith( "<%= escape_javascript( render 'proposals/preview', proposal: @proposal ) %>" );
if ( was_open ) {
  $("#<%= @proposal.iid %>").addClass( 'open' );
}
