/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
// --- Generelle Formulare ---------------------

* {
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: black;
}

html {
  font-size: 1em;
  line-height: 1.3;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: #000;
  background-color: #ccc;
}
