= link_to funding, class: 'preview', id: funding.token do
  - if funding.has_picture?
    = image_tag funding.picture_preview, class: 'picture'
  
  - unless funding.published?
    .status= funding.status
  
  .title= funding.title
  .date
    Endet am
    =l funding.ends_at, format: :short_day
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .description
    = h_format_preview funding.short_text, 250
  

