- h_title 'Finanzierungen'
- h_description( h_page_description_for 'fundings' )

%h1 Finanzierungen

- if h_is_editor?
  %p
    = link_to 'Neue Finanzierung...', new_funding_path
  

%ul.fundings_list
  - @fundings.each do |funding|
    %li= render 'preview', funding: funding
  

