// COLORS --------------------------------------

$green_col: hsl( 120, 70%, 40% );
$light_green_col: hsl( 120, 70%, 80% );
$orange_col: hsl( 40, 100%, 50% );
$grey_col: hsl( 0, 0%, 50% );
$purple_col: hsl( 310, 100%, 40% );

// --- SHADES ----------------------------------

$shade_10: rgba( 0, 0, 0, 0.1 );
$shade_20: rgba( 0, 0, 0, 0.2 );
$shade_50: rgba( 0, 0, 0, 0.5 );

// --- SEMANTIC COLORS -------------------------

@import 'colors_theme';

$back_col: $theme_col;

$paper_col: #f0f4f7; //white;
$dark_paper_col: darken( $paper_col, 10 );
$text_col: hsl( 0, 0%, 5% );
$light_text_col: hsl( 0, 0%, 50% );

$border_col: darken( $paper_col, 20 );
$line_col: $dark_paper_col;

// ---------------------------------------------

$button_col: $paper_col;
$button_bgcol: $link_col;

$mark_col: #f90;
$danger_col: hsl( 20, 100%, 40% );

$error_col: hsl( 20, 100%, 40% );
$error_bgcol: lighten( $error_col, 50 );
$notice_col: hsl( 40, 100%, 50% );
$notice_bgcol: lighten( $notice_col, 30 );

$darken_05: desaturate( darken( $paper_col, 3 ), 50 );

// ---------------------------------------------

$header_bgcol: $theme_col;
$menu_bgcol: darken( $header_bgcol, 10 );
$menu_button_bgcol: white;
$menu_link_col: $akzent_2_col; //$link_col;

$submenu_bgcol: lighten( $menu_bgcol, 10 );

// ---------------------------------------------

$main_bgcol: $paper_col;

// ---------------------------------------------

$footer_col: $text_col;
$footer_bgcol: $akzent_2_col;

