// --- COLORS THEME ----------------------------

$theme_col: <%= Rails.application.config.orga_color %>;

$akzent_col: #0055b3;
$akzent_2_col: #fde300;
$akzent_3_col: #12b2a5;

$akzent_bgcol: lighten( $akzent_col, 40 );
$akzent_2_bgcol: lighten( $akzent_2_col, 45 );
$akzent_3_bgcol: lighten( $akzent_3_col, 42 );

$link_col: #12b2a5;
