// ---------------------------------------------

@font-face {
  font-family: 'Poppins';
  src: local( 'Poppins' ),
       asset-url( 'fonts/Poppins-Regular.otf' ) format( 'opentype' );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local( 'Poppins-Regular' ),
       asset-url( 'fonts/Poppins-Bold.otf' ) format( 'opentype' );
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local( 'Poppins-Italic' ),
       asset-url( 'Poppins-Italic.otf' ) format( 'opentype' );
  font-weight: normal;
  font-style: italic;
}

