// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$danger_col: hsl( 10, 100%, 40% );

// ---------------------------------------------

.button {
  @include button;
  margin-right: 0.5rem;
  
  &:last-child {
    margin-right: 0;
  }
}

.sym_button {
  @include button;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  
  text-align: center;
  vertical-align: bottom;
  
  img {
    vertical-align: middle;
  }
  
  &.small {
    width: 1.75rem;
    height: 1.75rem;
  }
  
  &:last-child {
    margin-right: 0;
  }
}

.action_buttons {
  @include clearfix;
  margin: 1rem 0;
  padding: 0 1.5rem;
  
  .button,
  .sym_button {
    display: block;
    float: left;
  }
  
  .hint_text {
    display: block;
    float: left;
    padding-top: 0.5rem;
  }
  
  &.internal {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    background-color: $akzent_3_bgcol;
  }
}
h1 {
  .action_buttons {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    font-size: 1rem;
  }
}


// ---------------------------------------------

.internal_actions {
  @include clearfix;
  float: none;
  clear: both;
  margin-top: 1rem;
  padding: 1rem 0 1rem;
  background-color: $akzent_bgcol;
  
  .block_label {
    color: desaturate( darken( $akzent_bgcol, 40 ), 60 );
    margin-bottom: 0.5em;
    padding: 0 1.5rem;
    color: desaturate( darken( $akzent_bgcol, 40 ), 60 );
    font-size: 0.84rem;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .help_text {
    margin: 0.5em 0 1em;
    padding: 0 1.5rem;
    color: desaturate( darken( $akzent_bgcol, 40 ), 60 );
    font-size: 0.84em;
  }
}

