// Place all the styles related to the contentpart text picture
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

.contentpart.blockquote {
  padding: 0 1.5rem;
  text-align: right;
  
  font-size: 1.19rem;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.blockquote {
  }
}
