// Place all the styles related to the contentpart text picture
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

aside.contentpart {
  margin: 1.5rem;
  padding: 1.5rem;
  
  color: darken( $light_text_col, 10 );
  background-color: $dark_paper_col;
}
@media ( min-width: $more_than_smartphone ) {
  aside.contentpart {
    margin-top: 0;
    float: right;
    width: 45%;
  }
}
