// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.counter_block {
  @include clearfix;
  margin: 0 1.5rem;
}

.counter {
  display: block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 1rem;
  background-color: $back_col;
  border: 0.1rem solid $paper_col;
  border-radius: 0.5rem;
  color: $text_col;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  
  .numbers {
    color: darken( $akzent_col, 15 );
    @include title_font;
    font-size: 1.25rem;
    line-height: 1;
    
    em {
      font-size: 3rem;
      color: $akzent_col;
    }
    
    &.var_a {
      color: darken( $akzent_2_col, 15 );
      
      em {
        color: $akzent_2_col;
      }
    }
    &.var_b,
    &.var_c {
      color: darken( $akzent_3_col, 15 );
      
      em {
        color: $akzent_3_col;
      }
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .counter_block {
    display: flex;
    
    .counter {
      flex-grow: 1;
      margin: 0.25rem;
    }
  }
}
