// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$proposing_col: darken( $orange_col, 10 );
$voting_col: $green_col;
$done_col: $grey_col;
$explanation_col: hsl( 50, 100%, 40% );
$explanation_bgcol: hsl( 50, 50%, 90% );

// ---------------------------------------------

.page_decisions_show #body {
  padding-top: 1rem;
  padding-bottom: 0;
}

.decisions_tabs_block {
  list-style: outside none;
  
  .tabs {
    display: block;
    float: left;
    width: auto;
  }
}

.decision_infos {
  @include clearfix;
  margin-top: 0.5rem;
  padding: 0 1.5rem;
  
  .number {
    &.proposals {
      color: $proposing_col;
    }
    &.votes {
      color: $voting_col;
    }
  }
  
  .icon {
    height: 1.25rem;
    padding-bottom: 0.15rem;
  }
}

.decisions_list {
  @include item_list;
  margin-top: 0;
  
  li {
    border: none;
  }
  
  .preview {
    margin: 0.5rem;
    padding-bottom: 0.75rem;
    background-color: $paper_col;
    
    .title {
      margin-top: 0.5rem;
      line-height: 1.2;
    }
    
    .status_badge {
      &.proposing {
        background-color: $proposing_col;
      }
      &.voting {
        background-color: $voting_col;
        
        &.done {
          background-color: lighten( desaturate( $voting_col, 40 ), 40 );
        }
      }
      &.done {
        background-color: $done_col;
      }
    }
    
    .description {
      margin-bottom: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .decision_infos {
      padding: 0;
    }
  }
}

.decision_detail {
  @include item_detail;
  padding: 0;
  
  .variant {
    padding: 0 1.5rem;
  }
  
  .description {
    margin: 1rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    
    font-style: normal;
  }
}

.explanation_section {
  margin: 1rem 1.5rem;
  background-color: $explanation_bgcol;
  border: 2px solid darken( $explanation_bgcol, 20 );
  border-radius: 0.5rem;
  
  h1, h2, h3, h4 {
    color: $explanation_col;
  }
  p {
    color: darken( $explanation_col, 20 );
  }
}

.proposals_section {
  .list_title {
    margin: 1rem 0;
    padding: 0 1.5rem;
  }
}

.result_section {
  margin: 1rem 0 0;
  
  header {
    @include clearfix;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    background-color: $akzent_2_bgcol;
    
    .end_side {
      float: right;
      width: auto;
    }
  }
  
  .list_title {
    background-color: transparent;
  }
}
