// Place all the styles related to the Donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

// ---------------------------------------------

// for donation new form
.reward_summary {
  .label {
    color: $light_text_col;
  }
  .reward_line {
    font-size: 1.19em;
  }
}

// for donation show
.donation_detail {
  @include item_detail;
  
  .reward_summary {
    margin: 1rem 0;
    padding: 0 1.5rem;
  }
  
  .donation_instructions {
    .donation_sum {
      margin: 1rem 0;
      padding: 0 1.5rem;
    }
    .reference_nr {
      font-size: 1.19rem;
      font-weight: bold;
    }
  }
}

// for donations list
.donations_list {
  @include item_list;
  
  .preview {
    padding-bottom: 0;
    
    .status {
      top: unset;
      bottom: 2rem;
      right: 1.5rem;
      transform: rotate( -20deg );
      
      &.new {
        color: $paper_col;
        background-color: $danger_col;
      }
      &.closed {
        color: $paper_col;
        background-color: $green_col;
      }
    }
    
    .description {
      font-style: normal;
    }
    
    .action_buttons {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
