// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$date_col: $text_col;

// ---------------------------------------------

.events_list {
  @include item_list;
  
  .preview {
    padding-bottom: 0;
    border-top: 1px solid $line_col;
    
    .date {
      color: $date_col;
      font-weight: bold;
      
      span {
        white-space: nowrap;
      }
    }
    .title {
      margin-bottom: 0.5rem;
      color: $text_col;
      font-size: 1.19 * 1.19em;
      font-weight: normal;
    }
    .description,
    .location,
    .details,
    .link {
      margin: 0.5rem 0;
    }
  }
  
  
  .link {
    padding: 0 1.5rem;
  }
  .preview + .link {
    margin-top: 0;
    padding-bottom: 1rem;
  }
}

.event_detail {
  @include item_detail;
  
  .date {
    color: $text_col;
    font-size: 1.19em;
    font-weight: bold;
    
    span {
      white-space: nowrap;
    }
  }
  
  .location,
  .link,
  .details {
    margin: 1rem 0;
    padding: 0 1.5rem;
  }
  
  .location {
    font-weight: bold;
  }
}
