@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$flash_outer_bgcolor: hsla( 0, 0%, 0%, 0.4 );

// ---------------------------------------------

#flash_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $flash_outer_bgcolor;
  opacity: 0.4;
  z-index: 1000;
  
  &.faded {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in, visibility linear 0.55s;
  }
}

#flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem 1.5rem;
  overflow: hidden;
  z-index: 1001;
  
  &.faded {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in, visibility linear 0.55s;
  }
  
  .alert, .notice {
    max-width: $max_page_width * 0.8;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border: 2px solid;
    border-radius: 1rem;
    box-shadow: 0 0 64px 0 rgba( 0,0,0,0.2 );
    
    text-align: center;
    font-weight: bold;
  }
  .alert {
    background-color: $error_bgcol;
    border-color: $error_col;
  }
  .notice {
    background-color: $notice_bgcol;
    border-color: $notice_col;
  }
}
@media (min-width: $more_than_smartphone) {
  #flash {
  }
}