// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.page_fundings_index {
}
@media ( min-width: $more_than_smartphone ) {
  .page_fundings_index {
    #body {
      max-width: 50rem;
      
      h1 {
        margin-left: 37%;
        padding-left: 0.25rem;
      }
      
      .info_page {
        h1 {
          margin: 1rem auto;
          padding: 0 1.5rem;
        }
      }
    }
  }
}
