// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';
@import 'fonts';

// ---------------------------------------------

h1, h2, h3, h4, h5 {
  margin-top: 1.5em;
  color: $akzent_col;
  @include title_font;
}
h1 {
  line-height: 1.1;
}
h2 {
  line-height: 1.2;
}
h4 {
  margin-bottom: 0;
}
h4 + p {
  margin-top: 0.25rem;
}

p {
  &:last-child {
    margin-bottom: 1.5em;
  }
  &.list_title {
    margin-bottom: 0;
  }
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

a {
  color: $link_col;
}

ul {
  list-style: disc outside;
  margin: 0;
  padding: 0 1.5rem 0 3rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  
  color: $text_col;
  @include image_back;
  
  @include text_font;
}
@media (min-width: $more_than_smartphone) {
  body {
    font-size: 108%;
  }
}
@media (min-width: $large_screen_width) {
  body {
    font-size: 116%;
  }
}