@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.page_pages_impressum {
  img.impressum {
    max-width: 18rem;
  }
  img.impressum_email {
    max-width: 18rem;
  }
}