@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$max_page_width: 40rem;
$max_body_width: 37rem;

// ---------------------------------------------

main {
  min-height: calc( 100vh - #{$header_min_height} - #{$footer_min_height} );
  padding: 0;
  overflow-x: hidden;
  
  background-color: $main_bgcol;
}
@media (min-width: $min_width_plus_menu) {
  main {
    min-height: calc( 100vh - #{$footer_min_height} );
    padding: 2rem 0 2rem $menu_width;
  }
}

#page {
  @include clearfix;
  
  h1 {
    margin: 1rem auto;
  }
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0 1.5rem;
}
@media (min-width: $more_than_smartphone) {
  #body {
    margin: 1rem auto 0;
    max-width: $max_page_width;
  }
  #side_body {
    display: none;
  }
}
