// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.list_title {
  margin: 1rem 0 0.5rem;
  padding: 0 1.5rem;
  font-weight: bold;
}

.list_filter {
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: $akzent_bgcol;
  
  input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    border: none;
    box-shadow: none;
    @include text_font;
  }
}
.list_filter + .item_list {
  margin-top: 0;
}

.letters_list {
  padding: 0 1.5rem;
  list-style: none outside;
  
  li {
    display: inline-block;
    margin-right: 0.5rem;
    
    a {
      font-size: 1.19em;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

