// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$application_bgcol: $light_green_col;
$membership_bgcol: $green_col;

// ---------------------------------------------

.membership_preview {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  
  overflow: hidden;
  
  color: $text_col;
  text-decoration: none;
  
  .label {
    flex: 1 1 auto;
    overflow: hidden;
    
    .email {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .name {
      font-weight: bold;
    }
  }
  .badge_cell {
    min-width: 1rem;
    flex: 0 0 auto;
    align-self: center;
    text-align: center;
    white-space: nowrap;
    
    .badge {
      margin: 0 0.1rem;
    }
  }
  
  .angle {
    flex: 0 0 1.5rem;
    justify-self: end;
    justify-content: end;
    align-self: center;
    text-align: right;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .membership_preview {
    padding-left: 0;
    padding-right: 0;
  }
}

.memberships_list {
  width: 100%;
  margin: 1rem 0 0;
  padding: 0;
  list-style: none outside;
  
  li {
    border-top: 1px solid $border_col;
    
    &:last-child {
      border-bottom: 1px solid $border_col;
    }
    
    &.separator {
      padding: 0.25rem 1.5rem;
      background-color: $akzent_bgcol;
      font-style: italic;
    }
  }
  
}
@media ( min-width: $more_than_smartphone ) {
  .memberships_list {
    margin-bottom: 0;
    padding: 0 1.5rem;
    
    li:last-child {
      border-bottom: none;
    }
  }
}

.membership_page {
  
}

.membership_details {
  @include clearfix;
  position: relative;
  background-color: $akzent_bgcol;
  
  .status {
    top: 2rem;
    color: $text_col;
    background-color: $application_bgcol;
    
    &.accepted,
    &.member {
      color: $paper_col;
      background-color: $membership_bgcol;
    }
    &.discharged {
      color: $paper_col;
      background-color: $error_col;
    }
  }
  
  .membership_token {
    .subtitle {
      margin-top: 0.25rem;
      color: $text_col;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}

