// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

$status_bgcolor: hsla( 40, 100%, 75%, 0.75 ) ;
$date_col: $light_text_col;
$label_col: $light_text_col;

// ---------------------------------------------

.newsletters_list {
  @include item_list;
  
  .preview {
    .date {
      font-size: 1.19em;
      font-weight: bold;
    }
  }
}

#body {
  .newsletter_detail {
    position: relative;
    padding: 1rem 0;
    
    .status {
      position: absolute;
      top: 1em;
      right: 1em;
      padding: 0.25em 1rem;
      background-color: $status_bgcolor;
      text-transform: uppercase;
      transform: rotate( 30deg );
    }
    
    .header {
      padding: 1rem;
      color: #0d0d0d;
      background-color: #e6e6e6;
      
      text-align: center;
      
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .main_newsletter {
      max-width: 40rem;
      margin: 0 auto;
      padding: 2rem 1rem;
      
      h2 {
        padding: 0;
        color: $akzent_col;
        font-size: 1.69em;
      }
      h3 {
        padding: 0;
        color: $akzent_col;
        font-size: 1.42em;
      }
      h4 {
        padding: 0;
        color: $akzent_col;
        font-size: 1.19em;
      }
      p {
        margin: 0.75rem 0;
        padding: 0;
      }
      a {
        color: $link_col;
      }
      strong {
        color: $akzent_col;
      }
      
      .salutation {
        margin: 1rem 0;
        font-size: 1.19em;
      }
      
      .teaser {
        font-size: 1.19rem;
        font-style: italic;
      }
      
      .contentpart {
        margin: 1rem 0;
        overflow-x: hidden;
        
        &.img {
          padding-left: 0;
          padding-right: 0;
        }
      }
      
      .label {
        padding: 0.25rem 0;
        color: $label_col;
        border-bottom: 1px solid #aaa;
        text-transform: uppercase;
      }
      
      .preview {
        @include clearfix;
        display: block;
        clear: both;
        margin: 1.5rem 0;
        color: $text_col;
        text-decoration: none;
        
        .picture {
          float: left;
          max-width: 35%;
          margin: 0 1rem 1rem 0;
        }
        
        .title {
          margin-bottom: 0.75rem;
          font-size: 1.42em;
        }
        
        .more {
          margin-top: 0.5rem;
          color: $link_col;
        }
      }
      
      .new_events .preview {
        .time {
          font-weight: bold;
        }
      }
      
      .new_articles .preview {
        .date {
          color: $date_col;
        }
        .title {
          color: $akzent_col;
          font-weight: bold;
        }
      }
      
      .action_buttons {
        padding: 0;
      }
    }
    
    .admin {
      padding-top: 1rem;
      border-top: 1px solid #aaa;
      
      color: $light_text_col;
    }
    
    .footer {
      max-width: 40rem;
      margin: 0 auto;
      padding: 1rem;  
      
      border-top: 2px solid #aaa;
      color: $light_text_col;
      
      p {
        padding: 0;
      }
    }
    
    #newspost_form {
      display: none;
      margin: 1rem 0;
      padding: 1rem;
      background-color: $akzent_bgcol;
    }
    
    .newsletter_footer {
      margin-bottom: 2rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  #body .newsletter_detail .contentpart.picture {
    padding: 0;
  }
}
