// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.orderquants_list {
  padding-left: 3rem;
  
  .quant {
    font-weight: bold;
  }
}

.orderquants_sum {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid $line_col;
  
  .quant,
  .sum {
    font-weight: bold;
  }
}

