// Place all the styles related to the Participations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------


// ---------------------------------------------

.participations_list {
  @include item_list;
  
  .participation_preview {
    display: flex;
    align-items: center;
    
    margin: 0.5rem 1.5rem;
    border-top: none;
    
    .picture {
      flex: 0 0 40px;
    }
    .title {
      flex: 1 0 auto;
      padding: 0 1rem;
    }
    .actions {
      flex: 0 0 auto;
    }
  }
}