// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.questions_list {
  margin: 1rem 0;
  padding: 0;
  
  list-style: none outside;
  
  .question_answer {
    .question {
      margin: 1rem 0 0.5rem;
      font-size: 1.19 * 1.19rem;
      font-weight: normal;
      line-height: 1.3;
    }
    
    .action_buttons {
      padding-left: 0;
      padding-right: 0;
    }
    
    .answer {
    }
  }
}
