// Place all the styles related to the Rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.rewards_list {
  @include item_list;
  padding: 0 1.5rem;
  
  .reward {
    @include clearfix;
    margin: 1rem 0;
    background-color: $akzent_bgcol;
    border: 3px solid $akzent_bgcol;
    border-radius: 0.5rem;
    overflow: hidden;
    
    .picture {
      width: 100%;
    }
    
    .reward_infos {
      padding: 1.5rem;
      
      .amount {
        font-size: 1.19 * 1.19rem;
      }
      .title {
        margin-bottom: 1rem;
        @include title_font;
        font-weight: bold;
      }
      .description {
        @include text_font;
        margin: 1rem 0;
        padding: 0;
        font-style: normal;
      }
      .delivery,
      .ordered {
        color: $light_text_col;
      }
      .action_buttons {
        padding: 0;
      }
    }
    
    &.collapsed {
      cursor: pointer;
      
      .picture {
        float: right;
        width: 6rem;
        max-height: 6rem;
        margin: 0;
      }
      .reward_infos {
        padding: 0.5rem 1rem;
        
        .title {
          margin: 0;
        }
        .description,
        .delivery,
        .action_buttons {
          display: none;
          margin: 0;
        }
      }
    }
  }
  
  .category_header {
    padding: 0.25rem 1.75rem;
    color: $akzent_col;
    background-color: $dark_paper_col;
    border-bottom: 2px solid $paper_col;
    
    .title {
      display: inline;
      font-weight: bold;
    }
    .count {
      display: inline;
      
    }
  }
  
  &.will_be_toggled {
    margin: 0;
    padding: 0;
    
    li {
      border-top: 0;
    }
  }
}
@media (min-width: $more_than_smartphone) {
  .rewards_list {
    .reward {
      .picture {
        margin-left: 0;
      }
    }
  }
}