// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

// ---------------------------------------------

.search_results_list {
  @include item_list;
  
  li {
    border-top: 1px solid $line_col;
  }
}
