// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.will_toggle {
  display: block;
  cursor: pointer;
  
  .toggle_icon {
    width: 1.5rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
    
    &.close {
      display: block;
    }
    &.open {
      display: none;
    }
  }
  
  &.open {
    .toggle_icon.close {
      display: none;
    }
    .toggle_icon.open {
      display: block;
    }
    
    .full {
      display: block;
    }
  }
}

.will_be_toggled {
  display: none;
  
  &.toggled_open {
    display: block;
  }
}

