// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$danger_col: hsl( 10, 100%, 40% );

$badge_col: $paper_col;
$badge_bgcol: $akzent_col;
$application_bgcol: $light_green_col;
$membership_bgcol: $green_col;
$help_bgcol: $orange_col;

$caption_bgcol: $dark_paper_col;


// ---------------------------------------------

.danger {
  color: $danger_col;
}

// ---------------------------------------------

.initially_hidden {
  display: none;
}

.start_aligned {
  float: left;
  width: auto;
  margin-right: 1rem;
}
.centered {
  text-align: center;
}
.end_aligned {
  float: right;
  width: auto;
  margin-left: 1rem;
}

// ---------------------------------------------

.hilite_block {
  @include clearfix;
  background-color: $akzent_bgcol;
}

// ---------------------------------------------

.remote_form {
  @include clearfix;
  margin: 1rem 0;
  background-color: $akzent_bgcol;
  
  .notice {
    padding: 1rem 1.5rem;
  }
}

// ---------------------------------------------

.internal_actions {
  @include clearfix;
  float: none;
  clear: both;
  margin-top: 1rem;
  padding: 0 0 1rem;
  background-color: $akzent_3_bgcol;
  
  header {
    color: $light_text_col;
    font-size: 0.84rem;
    
    .public {
      padding: 0.5rem 1.5rem;
      background-color: $main_bgcol;
    }
    .private {
      padding: 0.5rem 1.5rem;
      border-top: 1px solid $line_col;
    }
  }
  
  .block_label {
    color: desaturate( darken( $akzent_bgcol, 40 ), 60 );
    margin-bottom: 0.5em;
    padding: 0 1.5rem;
    color: desaturate( darken( $akzent_bgcol, 40 ), 60 );
    font-size: 0.84rem;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .help_text {
    margin: 0.5em 0 1em;
    padding: 0 1.5rem;
    color: desaturate( darken( $akzent_bgcol, 40 ), 60 );
    font-size: 0.84em;
  }
}

// ---------------------------------------------

h1 {
  .subtitle {
    color: $text_col;
    font-size: 1rem;
  }
}
.sub_header {
  font-size: 1.19rem;
  font-weight: bold;
}
h1 + .sub_header {
  margin-top: -0.5rem;
}

.alternate {
  color: white;
}

.logo_title {
  margin: 4rem 0;
  color: black;
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 0.9;
  
  .alternate {
    padding-left: 0.35em;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .logo_title {
    font-size: 2.5rem;
  }
}

.hint_text {
  color: $light_text_col;
}

.help_text {
  color: $light_text_col;
  font-style: italic;
}

.badge {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  padding-top: 0.05rem;
  color: $badge_col;
  background-color: $badge_bgcol;
  border-radius: 1.5rem;
  
  text-align: center;
  font-weight: bold;
  
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  
  &.inactive {
    opacity: 0.25;
  }
  
  &.membership {
    color: $text_col;
    background-color: $application_bgcol;
    
    &.accepted,
    &.member {
      color: $paper_col;
      background-color: $membership_bgcol;
    }
  }
  
  &.offers_help {
    background-color: $help_bgcol;
  }
  
  &.account {
    background-color: $purple_col;
  }
}

.status {
  position: absolute;
  top: 2em;
  right: 3em;
  padding: 0.25em 0.75em;
  background-color: $akzent_bgcol;
  
  font-size: 0.86em;
  text-transform: uppercase;
  transform: rotate( 30deg );
}

.list_title {
  margin: 1rem 0 0;
  padding: 0 1.5rem;
  font-weight: bold;
}

.info_list {
  margin: 0rem 0 1rem;
  padding: 0 1.5rem;
  padding-left: 3rem;
  list-style: square outside;
}

