.anrede
  Hallo
  = @contact.name_text

%p
  = @inviting_contact.name_text
  hat dich zu einem Chat auf der Website von
  = @site_name
  eingeladen.

%p
  Um daran teilzunehmen,
  %strong klicke bitte
  folgenden Link:
  %br
  = link_to @participation_link, @participation_link

= render 'general/mailer_regards'
