%header#header{ role: "banner" }
  = link_to root_url, class: 'header_logo', itemprop: "url" do
    = image_tag "logos/#{h_orga_file_name}_Logo_q192.png", class: 'logo_img'
    - if false
      %span.logo_text= h_orga_name
    
  
  = link_to image_tag( "sym/menu_w100.svg" ), '#menu', class: "menu_button", data: { sel: '#menu' }
  
  %nav#menu.main_menu{ class: @with_sub, role: "navigation" }
    %ul.nav{ class: @with_sub }
      - @pages.each do |page|
        - unless page.menu.blank?
          %li
            = link_to page.menu, page.link_url
            
            - sub_pages = restrict_page_access( page.pages.in_menu )
            - unless sub_pages.blank?
              %ul.sub_nav
                - sub_pages.each do |p|
                  %li= link_to p.menu, p.link_url
                
              
            
          
        
      
      - if h_is_internal?
        %li.dangerous
          = link_to current_account.status_text, overview_prefs_path
          
          %ul.sub_nav
            - if h_show_menu? :articles
              %li= link_to 'Artikel', articles_path
            
            - if h_show_menu? :events
              %li= link_to 'Termine', events_path
            
            - if h_is_member? or ( h_app_feature?( :allow_decisions_for_team ) and h_is_team_or_member? )
              %li= link_to 'Entscheidungen', decisions_path
            
            - if h_is_editor?
              - if h_show_menu? :pages
                %li= link_to 'Seiten', pages_path
              
              - if h_show_menu? :newsletters
                %li= link_to 'Newsletter', newsletters_path
              
              - if h_app_feature? :allow_funding
                %li= link_to 'Finanzierungen', fundings_path
              
            
            - if h_is_admin?
              - if h_show_menu? :donations
                %li= link_to 'Spenden', donations_path
              
            
            - if h_is_sales?
              - if h_is_admin?
                - if h_show_menu? :rewards
                  %li= link_to 'Produkte', rewards_path
                
              
              - if h_show_menu? :orders
                %li= link_to 'Bestellungen', orders_path
              
            
            - if h_is_admin?
              %li= link_to 'Kontakte', contacts_path
              %li= link_to 'Accounts', admin_accounts_path
              - if h_app_feature? :allow_membership
                %li= link_to 'Mitgliedschaften', memberships_path
                
                - if h_app_feature? :allow_payment
                  %li= link_to 'Zahlungen', admin_payments_path
                
              
            
            - if Pref.for_status?( current_account.status )
              %li= link_to 'Einstellungen', prefs_path
            
            - if h_is_team?
              %li= link_to 'Statistik', '/statistics/current_requests'
            
          
        
      
      - if current_account
        %li
          = link_to 'Ich', current_account
        
      - else
        - if h_app_feature?( :login_in_menu )
          %li= link_to 'Login', login_path
        
      
      %li= link_to image_tag( 'sym/lens_akz100.svg' ), search_path, class: 'sym_link'
    
  

