%link{ rel: "icon", href: path_to_image( "logos/#{h_orga_file_name}_Logo_q96.png" ) }
%link{ rel: "apple-touch-icon-precomposed", href: path_to_image( "logos/#{h_orga_file_name}_Logo_q152.jpg" ) }
%link{ rel: "icon", sizes: "152x152", href: path_to_image( "logos/#{h_orga_file_name}_Logo_q152.png" ) }
%link{ rel: "icon", sizes: "192x192", href: path_to_image( "logos/#{h_orga_file_name}_Logo_q192.png" ) }
