/* Email styles need to be inline */

body {
  margin: 0;
  padding: 0;
  color: #1a0004;
  background-color: #e6e6e6;
  
  font-family: 'HelveticaNeue', Arial, sans-serif;
  font-size: 100%;
}
@media (min-width: 480px) {
  body {
    font-size: 120%;
  }
}

.header {
  padding: 1rem;
  color: #0d0d0d;
  
  text-align: center;
  
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header img {
  height: 5rem;
}

.main_newsletter {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: white;
}

/* Tags in the main newsletter content */
.main_newsletter h2 {
  margin: 1rem 0;
  color: #857047;
  font-size: 1.69em;
}
.main_newsletter h3 {
  margin: 1rem 0;
  color: #857047;
  font-size: 1.42em;
}
.main_newsletter h4 {
  margin: 1rem 0 0.5rem;
  color: #857047;
  font-size: 1.19em;
}
.main_newsletter p {
  margin: 0.75rem 0;
}
.main_newsletter a {
  color: #04c;
}
.main_newsletter strong {
  color: #555;
}

/* classes for newsletter structure */

.main_newsletter .salutation {
  margin: 1rem 0;
  font-size: 1.19em;
}

.main_newsletter .teaser {
  font-style: italic;
  font-size: 1.19rem;
}

.main_newsletter .contentpart {
  margin: 1rem 0;
  overflow-x: hidden;
}
.main_newsletter .contentpart.picture {
  border-radius: 0.5rem;
}
.main_newsletter .contentpart.picture img {
  border-radius: unset;
}
.main_newsletter .contentpart.img .caption {
  padding: 0.75rem 1.5rem 1rem;
  background-color: #e6e6e6;
}

.main_newsletter .counter_block::before,
.main_newsletter .counter_block::after {
  content: "";
  display: table;
}
.main_newsletter .counter_block::after {
  clear: both;
}
.main_newsletter .counter {
  display: block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 1rem;
  background-color: #ede8de;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  color: #0d0d0d;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_newsletter .counter .numbers {
  color: #655027;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1;
}
.main_newsletter .counter .numbers em {
  font-size: 3rem;
  color: #857047;
}
.main_newsletter .counter .numbers.var_a {
  color: #277f24;
}
.main_newsletter .counter .numbers.var_a em {
  color: #39bb35;
}
.main_newsletter .counter .numbers.var_b,
.main_newsletter .counter .numbers.var_c {
  color: #df1d0e;
}
.main_newsletter .counter .numbers.var_b em,
.main_newsletter .counter .numbers.var_c em {
  color: #ff3d2e;
}
@media (min-width: 490px) {
  .main_newsletter .counter_block {
    display: flex;
  }

  .main_newsletter .counter_block .counter {
    flex-grow: 1;
    margin: 0.25rem;
  }
}

.main_newsletter .picture img {
  width: 100%;
  vertical-align: middle;
}
.main_newsletter .picture .caption {
  padding: 0.75rem 1rem 1rem;
  background-color: #e6e6e6;
}

.main_newsletter .label {
  padding: 0.25rem 0;
  color: #aaa;
  border-bottom: 1px solid #aaa;
  text-transform: uppercase;
}

.main_newsletter .preview {
  display: block;
  clear: both;
  margin: 1.5rem 0;
  color: #333;
  text-decoration: none;
}
.main_newsletter .preview::before {
  content: "";
  display: table;
}
.main_newsletter .preview::after {
  clear: both;
  content: "";
  display: table;
}

.main_newsletter .preview .picture {
  float: left;
  max-width: 35%;
  margin: 0 1rem 1rem 0;
}

.main_newsletter .preview .title {
  margin-bottom: 0.75rem;
  font-size: 1.42em;
}

.main_newsletter .preview .more {
  margin-top: 0.5rem;
  color: #04c;
}

.main_newsletter .new_events .preview .time {
  font-weight: bold;
}

.main_newsletter .new_articles .preview .date {
  color: #777;
}
.main_newsletter .new_articles .preview .title {
  color: #857047;
  font-weight: bold;
}

/* admin part on the bottom of newsletter */

.main_newsletter .admin {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #aaa;
  
  color: #777;
}

.footer {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  background-color: white;
  
  border-top: 1px solid #aaa;
  color: #aaa;
}
.footer .references {
  font-size: 0.84em;
}
