.footer
  %p
    = h_orga_name
    %br
    = h_orga_slogan
  
  %p.references
    Mailing durch
    = link_to 'organisator', 'https://munterbund.de/magnusmunter/organisator'
    &bull;
    = link_to 'Login', login_url
    &bull;    
    = link_to 'Website', root_url
    &bull;
    = link_to 'Impressum', impressum_url
    &bull;
    = link_to 'Datenschutz', datenschutz_url
  

