<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileColor" content="<%= h_orga_color %>" />
    <meta name="theme-color" content="<%= h_orga_color %>">
    
    <%= render 'layouts/opengraph_infos' %>
    <%= render 'layouts/icons' %>
    
    <title><%= h_page_title %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: 'true' %>
  </head>
  
  <body class="page page_<%= params[ :controller ].parameterize separator: '_' %>_<%= params[ :action ] %>" id="<%= h_orga_name.parameterize %>">
    <%= render 'layouts/flash' %>
    
    <%= render 'layouts/header' %>
    
    <main id="page" role="main">
      <section id="body">
        <%= yield %>
      </section>
    </main>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
