!!!
%html
  %head{ xmlns: "http://www.w3.org/1999/xhtml", 'xmlns:v' => "urn:schemas-micros=oft-com:vml", 'xmlns:o' => "urn:schemas-microsoft-com:office:office" }
    <!-- NAME: SIMPLE TEXT -->
    <!--[if gte mso 15]>
    
    %xml
      = content_tag 'o:OfficeDocumentSettings' do
        = '<o:AllowPNG/>'.html_safe
        = content_tag 'o:PixelsPerInch', '96'
      
    
    <![endif]-->
    %meta{ charset: "UTF-8" }
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %style
      = render 'layouts/mailer_styles.scss'
    
  %body
    = render 'layouts/mailer_header'
    
    .main_newsletter
      = yield
    
    = render 'layouts/mailer_footer'
  

