- cancel_action = nil unless defined? cancel_action
- initially_hidden = false unless defined? initially_hidden

= form_for @account, class: initially_hidden ? 'initially_hidden' : nil do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.account.one" ), count: @account.errors.count )
      %ul
        - @account.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.account.#{message.first}" )
        
      
    
  
  .field
    = f.label :login
    = f.text_field :login, placeholder: 'z.B. lisa.muster@organisator.org'
    .help Am besten verwendest du hier deine E-Mail Adresse.
  
  .field
    = f.label :password
    = f.password_field :password
  
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  
  = render 'contacts/subform_account', form: f, contact: @account.contact
  
  .actions
    = cancel_action
    = f.submit class: 'button main'
  

