- # --------------------------------------------
%p.form_explanation
  Vielen Dank für die Anforderung eines Accounts.
  %br
  Wir haben Dir einen Link zum Setzen Deines Password an die Adresse
  %br
  %strong= @contact.email
  gesendet.

%p
  Er sollte in den nächsten 15 Minuten ankommmen. Schaue bitte auch in Deinem Spam-Postfach nach.

