- cancel_action = capture do
  = link_to 'Abbrechen', @account, class: 'button'

%h1 Profil ändern

- if params[ :what ] == 'priv'
  = render 'form_private', cancel_action: cancel_action
- else
  = render 'form_public', cancel_action: cancel_action

