- h_title 'Neuen Account registrieren'
- h_description 'Hier kannst du dir einen neuen Account für unsere Website registrieren.'

- cancel_action = link_to 'Abbrechen', login_path, class: 'button secondary'

%h1 Neuer Account
%p Hier kannst Du Dir einen neuen Account anlegen.

= render 'form', cancel_action: cancel_action
