- # --------------------------------------------
%p.form_explanation
  Wir haben Dir einen Link zum Neusetzen Deines Password an die Adresse
  %br
  %strong= @contact.email
  gesendet.

%p
  Er sollte in den nächsten 15 Minuten ankommmen. Schaue bitte auch in Deinem Spam-Postfach nach.

