- h_page_title "#{@account.contact.name_text} im Team #{h_orga_name}"
- h_description truncate( strip_tags( @account.description ), length: 250 )
- if @account.has_picture?
  - h_image full_url_for @account.picture_preview

- # --------------------------------------------

.account_details
  - if @account.has_picture?
    = render 'general/picture_preview', entity: @account
  - else
    .picture= image_tag 'default_user.jpg'
  
  - if h_is_admin?
    .status= @account.status
  - elsif @account == current_account
    .status
      - if @account.is_team?
        öffentlich
      - else
        unsichtbar
      
    
  
  %h1= @account.displayname_text
  .label= @account.label
  - if h_account_editable? @account
    %p= link_to 'Bearbeiten', edit_account_path( @account ), class: 'button'
    
  
  .description= h_format @account.description

- if h_account_editable? @account
  = render 'show_internal'

